@page "/stages"
@inject frontend.Services.OffreService OffreService
@inject NavigationManager Nav


<PageTitle>Stages</PageTitle>
<main>
    <section class="filtre">
        <h3>Filtrer les résultats</h3>
        <input type="text" id="searchBar" placeholder="Recherche de stage">
        <br><br>
        <label for="">Niveau d'étude</label>
        <br>
        <input type="range">
        <br><br>
        <label for="">Durée du stage</label>
        <br>
        <input type="range">
    </section>
    <section class="listeStage">
        <h2>Que recherchez-vous?</h2>
        <h3 class="beginTab">Offres de stage</h3>

        <table>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Formation</th>
                    <th>Laboratoire</th>
                    <th>Duree</th>
                    <th>Niveau d'étude</th>
                    <th>Responsable</th>
                </tr>
            </thead>
            <tbody>
                @foreach(Offre offre in offres){
                    <tr @onclick="()=>NavPage(offre.Id)">
                        <td>@offre.Titre</td>
                        <td>@offre.Domaine</td>
                        <td>@offre.Laboratoire</td>
                        <td>@offre.Duree mois</td>
                        <td>BAC+@offre.NbAnnees</td>
                        <td>@offre.NomResponsable</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</main>
@code{
    private List<Offre>? offres;
    
    protected override void OnInitialized(){
        offres = OffreService.GetOffres();
    }

    private void NavPage(int id){
        Nav.NavigateTo($"/infostage/{id}");
    }
}